body{
    font-family: 'Roboto', sans-serif;
}

.container-fluid{
    margin-top: 100px;
    max-width: 1000px;
}

.signupBox{
    /* border: 2px solid black; */
    height: 650px;
}

.signupBox:nth-last-of-type(1){
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);    
    color: white;
}

h1{
font-weight: 700;
}

.signUpButton{
    background-color: #FF4B2B;
    border: none;
    color: white;
}

.welcome{
    padding-top: 150px;
}

.signupBox a{
    text-decoration: underline;
    color: white;
    font-weight: 500;
}

#forgotPasswordLink{
    color: #FF4B2B;
    font-size: small;
    font-weight: 300;
}

#forgotPasswordPage{
    max-width: 700px;
}


/* Loading animation for timeline and homepage*/
/* .loader{
    height: 50px;
    opacity: 0;
    /* animation: rotate 3s linear infinite; */
/* } */

/* .loader.show {
    opacity: 1 !important;
} */

/* .circle{
    display: inline-block;
    background-color: #FF416C;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: scale(0);
    margin: -10px;
    animation: grow 1.5s linear infinite;
} */

/* .circle:nth-last-of-type(2){
    background-color: aliceblue;
    animation-delay: 0.75s;
} */

/* @keyframes rotate{
    to{
        transform: rotate(360deg);
    }
} */

/* @keyframes grow{
    50%{
        transform: scale(1);
    }
} */

/* .post{
    margin-bottom: 20px;
} */

